---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre el Sistema";
---

<BaseLayout title={pageTitle}>
  <h4>Este es el sistema de Auto-Asistencia del hecho con Astro, diseñado para el uso de los alumnos de la Facultad de Ingeniería de la Universidad de Buenos Aires.</h4>
  <div>
    <img src="https://user-images.githubusercontent.com/75450615/228704389-a2bcdf3e-d4d6-4236-b1c6-57fd9e545625.png#gh-dark-mode-only" width="50%">
  </div>
</BaseLayout>
